NEXT_PUBLIC_COGNITO_DOMAIN=https://tu-dominio.auth.us-east-1.amazoncognito.com
NEXT_PUBLIC_COGNITO_CLIENT_ID=tu_app_client_id
NEXT_PUBLIC_COGNITO_REDIRECT_URI=http://localhost:3000
NEXT_PUBLIC_API_BASE_URL=https://tu-api-gateway.execute-api.us-east-1.amazonaws.com
